/* 版心 */

body{
    overflow-y:hidden;
    background-color: rgb(245, 245, 245);
}

/* 导航栏header */
.header{
    height: 80px;
    border-radius: 2px;
    background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #84a4e9, #6daeec, #58b6eb, #32bfe5, #18c6d9, #2fcbc7, #54cfb2);
    box-shadow: 0 1px 7px 5px rgb(0, 0, 0,0.2);
}

/* header的logo */
.header .logo{
    float: left;
    padding: 0 35px;
    width: 300px;
    height: 80px;
    /* background-color: red; */
}

.header .logo a{
    display: block;
    width: 74px;
    height: 74px;
    margin-top: 3px;
    font-size: 0;
}

.header .logo a img{
    width: 74px;
    height: 74px;
}

/* .header .logo h1{
    float: right;
} */

/* header的user */
.header .user {
    float: right;
    width: 300px;
    /* line-height: 100px; */
    /* background-color: black; */
}
.header .user .username{
    float: left;
    line-height: 100px;
}
.header .user .username img{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
}
.header .user .username p{
    float: right;
    margin-bottom: -100px;
    line-height: 80px;
}

.header .user a{
    float: right;
    margin-right: 30px;
    margin-left: 40px;
    font-size: 23px;
    line-height: 80px;
    color: rgb(150, 40, 40);
}



/* 聊天室 */
.chatroom{
    position: relative;
    margin: 10px auto;
    height: 450px;
    /* background-color: yellow; */
}

/* 用于隐藏滚动条 */
.chatroom .hid_messages{
    width: 900px;
    height: 450px;
    overflow: hidden;
}

/* 聊天消息 */
.chatroom  .messages{
    float: left;
    width: 915px;
    height: 450px;
    /* background-color: green; */
    padding: 0 20px;
    /* 开启页面垂直滚动 */
    overflow-y: scroll;
    /* 取消水平滚动 */
    overflow-x:hidden;
}

.chatroom  .messages .user_info{
    width: 100px;
    height: 100px;
    background-color: black;
}

.chatroom  .messages .msg{
    margin-left: 50px;
    /* height: 40px; */
    width: 450px;
    /* background-color: white; */
    background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #84a4e9, #6daeec, #58b6eb, #32bfe5, #18c6d9, #2fcbc7, #54cfb2);
    padding: 0 20px;
    line-height: 40px;
    border-radius: 10px;
}

/* 消息框样式 */
.chatroom .acv_messages{
    float: left;
    width: 900px;
    height: 100px;
    /* background-color: #84a4e9; */
}
.chatroom .acv_messages img{
    float: left;
    width: 100px;
    height: 100px;
    /* background-color: #d16ba5; */
}
.chatroom .acv_messages #message-textarea{
    position: relative;
    
    float: left;
    width: 800px;
    height: 100px;
    border-radius: 10px;
    /* 去掉边框显示 */
    border: none;
    /* 去掉点击时的边框显示 */
    outline:medium;
    resize: none;
}

/* 聊天室用户 */
.chatroom .hid_chatUser{
    position: relative;
    float: right;
    left: 0;
    top: -450px;
    width: 280px;
    height: 550px;
    border-radius: 10px;
    margin-right: 10px;
    /* background-color: black; */
    box-shadow: -3px 2px  5px 1px rgb(0, 0, 0,0.2);
    overflow: hidden;
}
.chatroom .hid_chatUser .chat_user{
    position: relative;
    width: 300px;
    height: 550px;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #84a4e9, #6daeec, #58b6eb, #32bfe5, #18c6d9, #2fcbc7, #54cfb2);
    /* background-color: chartreuse; */
    overflow: auto;
}





