{% extends 'base.html' %}

{% block page_title %}Sign In{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for('auth.login') }}">
        <div class="wrap">
            <div class="form">
                <div class="left">
                    <video src="{{url_for('auth.static' , filename = 'video.mp4')}}" muted autoplay loop></video>
                </div>
                <div class="right">
                    <div class="right-con">
                        <h1>Here Sign Up</h1>
                        
                        <h3>Email</h3>
                        <input class="text" name="email" placeholder="greyli.py@gmail.com" type="text">
                        
                        <h3>PassWord</h3>
                        <input class="text" name="password" placeholder="Password" type="password">
              
                        <input class="btn" type="submit" value="Submit">
                        <p>New user?<a href="{{url_for('auth.register')}}">Click here to Sign Up!</a></p>
                    </div>
                </div>
            </div>
        </div> 
    </form>
    <!-- {% for error_message in get_flashed_messages() %}
            <div>{{ error_message }}</div>
    {% endfor %} -->
{% endblock %}