{% extends 'base.html' %}

{% block page_title %}Sign In{% endblock %}
{% block nav %}{% endblock %}

{% block content %}
    <h2>
        <img src="{{ url_for('auth.static', filename='logo.png') }}" class="image">
        <span class="content">Sign into CatChat</span>
    </h2>
    <form method="post" action="{{ url_for('auth.login') }}">
        <input id="email-input" name="email" placeholder="E-mail address" type="text">
        <input id="password-input" name="password" placeholder="Password" type="password">
        <input id="remember" type="checkbox" name="remember" checked="">
        <label for="remember">Remember me</label>
        <input id="submit" name="submit" type="submit" value="Submit">Log In
    </form>
    <!-- {% for error_message in get_flashed_messages() %}
            <div>{{ error_message }}</div>
    {% endfor %} -->
    <p>New user? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
{% endblock %}