{% extends 'base.html' %}


{% block page_title %}Sign Up{% endblock %}

{% block content %}     
    <form method="post" action="{{ url_for('auth.register') }}">
        <div class="wrap">
            <div class="form">
                <div class="left">
                    <video src="{{url_for('auth.static' , filename = 'video.mp4')}}" muted autoplay loop></video>
                </div>
                <div class="right">
                    <div class="register_right-con">
                        <h1>Here Register</h1>
                        <div class="form-item">
                            <h3>NickName</h3>
                            <input class="text" name="register_nickname" placeholder="Nickname" type="text">
                            <span class="msg"></span>
                        </div>
                        
                        <div class="form-item">
                            <h3>Email</h3>
                            <input class="text" name="register_email" placeholder="greyli.py@gmail.com" type="text">
                            <span class="msg"></span>
                        </div>
                        
                        <div class="form-item">
                            <h3>PassWord</h3>
                            <input class="text" name="register_password" placeholder="Password" type="password">
                            <span class="msg"></span>
                        </div>
                        
                        <div class="form-item">
                            <h3>Confirm PassWord</h3>
                            <input class="text" name="password2" placeholder="Password" type="password">
                            <span class="msg"></span>
                        </div>
                          
                        <div class="form-item">
                            <!-- <span class="msg"></span> -->
                            <input tabindex="0" name="queren" type="checkbox">
                            <label style="color: gray;">I agree to the Terms and Conditions</label>
                        </div>
                        
                        <input class="btn" type="submit" value="Register">
                    </div>
                </div>
            </div>
        </div> 
    </form>
{% endblock %}
