<html>
<head>
    {% block head %}
        <title>{% block title %}{% block page_title %}{% endblock %} - Chatroom{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
        {% assets "css_all" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
    {% endblock %}
</head>
<body>

{% block content %}{% endblock %}

{% block scripts %}
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    
    <script type="text/javascript">
        var root_url = "{{ url_for('chat.index') }}";
        var current_user_id = {{ current_user.id|default(0) }};
    </script>
{% endblock %}
</body>
</html>
